<pe-vertical-card>
  <img
    [src]="product().image"
    [alt]="product().title"
    class="product__img"
    loading="lazy"/>

  <h3 class="product__title">{{product().title}}</h3>
  <p class="product__price">{{product().price | currency:'ZAR':'symbol-narrow'}}</p>
  <pe-rating [rating]="product().rating" />
  <div class="product__cta">
    <button class="flat-button primary" (click)="selected.emit(product())">View details</button>
    <button class="flat-button primary" (click)="toggleFavourite()">
      <pe-material-icon
        [name]="isMarkedAsFavourite() ? 'favorite' : 'favorite_border'"
        class="danger"
        />
    </button>
  </div>
</pe-vertical-card>

<ng-template #toastMarkFavouriteSuccess>Added product to favourites successfully</ng-template>
<ng-template #toastUnmarkFavouriteSuccess>Removed product from favourites successfully</ng-template>
