@use './../abstracts/mixins' as *;

:root {
    // TODO: Mobile-first page padding
  --pg-padding-x: 1rem;
  --pg-padding-y: 2rem;
  @include respond-to(tablet, min) { --pg-padding-y: 3rem; }
  @include respond-to(desktop) { --pg-padding-y: 8rem; }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%; // this is (10px/16px)*100 in order to make 1rem = 10px instead of the default 16px
}

body {
  color: var(--colour-neutral-700);
  font-family: var(--font-family);
  font-style: var(--font-style);
  font-weight: 400;

  font-size: 1.2rem;
  @include respond-to(tablet, min) { font-size: 1.4rem; }
  @include respond-to(desktop) { font-size: 1.6rem; }
  // TODO: responsive design: bigger screens
}
