@use './../../../../sass/abstracts/mixins' as *;

.loader {
  --loader-size: 3rem;
  @include respond-to(tablet, min){ --loader-size: 3.8rem; }
  @include respond-to(tablet, max){ --loader-size: 5rem; }
  @include respond-to(desktop, min){ --loader-size: 5.8rem; }
  @include respond-to(desktop){ --loader-size: 7rem; }
}

.loader,
:host(.primary) > .loader {
  --loading-colour-uno: var(--colour-neutral-0);
  --loading-colour-dos: var(--colour-primary);
}

:host(.primary.both) > .loader {
  --loading-colour-uno: var(--colour-primary);
  --loading-colour-dos: var(--colour-primary);
}

:host(.white) > .loader {
  --loading-colour-uno: var(--colour-neutral-0);
  --loading-colour-dos: var(--colour-neutral-0);
}

.loader {
  width: var(--loader-size);
  height: var(--loader-size);
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid var(--loading-colour-uno);
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: var(--loader-size);
  height: var(--loader-size);
  border-radius: 50%;
  border-left: 4px solid var(--loading-colour-dos);
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
